node_modules
dist
.git
.gitignore
*.md
*.dockerfile
docker-compose*.yml
Caddyfile
.env
.local.env
.dev.env
.prod.env
.prod2025.env
*.log
coverage
test
.sisyphus
.github
Prod-Dockerrun.aws.json
Prod2025-Dockerrun.aws.json
